<a href="https://colab.research.google.com/github/Abskrdev20/Python-DataSci_CodeDump/blob/main/L01_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Fundamentals**
- Python is created before java
- *Design philosphy* : easy to learn
- *Batteried Included* : built-in methods
- *Quote* : donot reinvent the wheel
- *General Purpose* : learn and code
- *Libraries included* : pandas , numpy , matplotlib , tensorflow , tkinter
- *Community* : keras
---
## discussions
1. slow python : nd array in numpy created in c but used in py to make fast operations
2. R lang : used in research work phd's

## OUTPUT IN PYTHON

In [ ]:
# First Program
# python is a case-sensitive language

print("Hello World")

Hello World

In [ ]:
print("Abhishek Kumar")
print(34)
print(34.5)
print(True)

Abhishek Kumar
34
34.5
True

In [ ]:
print("Hello",3,53.5,True)

Hello 3 53.5 True

In [ ]:
print("Hello",3.5,34,True,sep="/")

Hello/3.5/34/True

In [ ]:
print('hello',end ='-')
print('coders')

hello-coders

## DATATYPES IN PYTHON

In [ ]:
# Intergers
print(45)
# 1*10^308
print(1e308)

45
1e+308

In [ ]:
#Decimal/float
print(5.6)
print(1e309)

5.6
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/string
print("Hello World")

Hello World

In [ ]:
# Complex nos
print(5+6j)

(5+6j)

In [ ]:
# List
print([3,5,3,3,32])

[3, 5, 3, 3, 32]

In [ ]:
# Tuple
print((2,4,6,43,46,75))

(2, 4, 6, 43, 46, 75)

In [ ]:
# Sets
print({2,4,6,43,46,75})

{2, 4, 6, 43, 75, 46}

In [ ]:
# Dictionary
print({"Name":"Abhishek","gender":"male","Age":20})

{'Name': 'Abhishek', 'gender': 'male', 'Age': 20}

In [ ]:
# type
type(3)
# type(3.5)
# type("Hello")
# type(True)

int

In [ ]:
# data structure / data type almost same
# no long dt
# complex no limit
# python is a interpreted language line by line

## Variables in Python

In [ ]:
# variables : containers to hold the dt
#
name = "Abhishek"
print(name)

a=10
b=34
print(a+b)

Abhishek
44

In [ ]:
# DYNAMIC VS STATIC TYPING
# Dynamic Typing :  no need of predeclaration and initialisation
a=5
print(type(a))

# Static Typing : intialased and dt declared first
# string name = "rohan";
# int b;

<class 'int'>

In [ ]:
# DYAMIC VS STATIC BINDING
# Dynamic Binding : can redeclare the variable
a=34
print(a)
a="arunachal"
print(a)

# static binding : store only a single dt
# int num = 34
# num ="ritik" #Gives an err

34
arunachal

In [ ]:
# Stylish declaration techniques
a,b,c = 3,5,6
print(a,b,c)

3 5 6

In [ ]:
a=b=c= 34
print(a,b,c)

34 34 34

* SNIPPETS : small code segment
* Memory allocation in python
* how static typing can be achieved in python
* differnce bw local and global var
* indentation

## Comments in Python

In [ ]:
# this is a comment : this is ignored by interpretor

## Keywords and Identifiers

In [ ]:
# Keywords : 32 keywords are reserved cann't be used as var_name
# interpreter uses this words to convert High level code to machine code
print(print)

<built-in function print>

- create new dt using oop

In [ ]:
# Identifier : any name in language either of a class , package , var_name
# Rule 1 : cann't start with a digit
a=34; print(a)
# 2nos = 34 #gives an error : invalid decimal literal

34

In [ ]:
# Rule 2 : you can use only _ as special characters
first_name = "raghav"
print(first_name)
# first%name = "ritu" # error cann't be assigned

raghav

In [ ]:
# Rule 3 : Identifiers can be a keyword like  print , if , while

## User Input

In [ ]:
input('Enter your name :')
input('Enter your email id')
input('What is your age :')

Enter your name :Abhishek kumar
Enter your email idak@gmail.com
What is your age :34

'34'

In [ ]:
# Create the Employee Details form and display the info gathered
name = input('enter the emp name :')
age = input('enter the emp age :')
salary = input('enter the emp salary :')
print(name,age,salary)

enter the emp name :adarsh kumar
enter the emp age :23
enter the emp salary :643543
adarsh kumar 23 643543

## TYPE CONVERSION

In [ ]:
# input the numbers and prints the sum of numbers
# by default : input gets the values in str form explicitly cnvt to int type
n1 = int(input('Enter your 1st no :'))
n2 = int(input('Enter your 2nd no :'))
print(type(n1),type(n2))
res = n1 + n2
print(res)

Enter your 1st no :34
Enter your 2nd no :76
<class 'int'> <class 'int'>
110

In [ ]:
#  approach 2 :
n1 = input('Enter your 1st no :')
n2 = input('Enter your 2nd no :')
print(type(n1),type(n2))
res = int(n1) + int(n2)
print(res)

Enter your 1st no :54
Enter your 2nd no :6
<class 'str'> <class 'str'>
60

In [ ]:
# IMPLICIT VS EXPLICIT TYPE CONVERSION
# IMPLICIT TYPE CONVERSION : done auto by py interpretor
print(4+5.6)
print(type(4),type(5.6))

# print(4+'4') # error

9.6
<class 'int'> <class 'float'>

In [ ]:
# Explicit Type Conversion
# str -> int
print(int('4')+4)
# int -> str
print(str(4)+'4')
# float -> int
print(int(4.5))
# int -> float
print(float(4))
# str -> bool
print(bool('True'))
# int -> complex
print(complex(4))
# comples -> int : Error int() method not work for complex var
# print(int(4+5j))

8
44
4
4.0
True
(4+0j)

## Literals

In [ ]:
# Literals : raw values which is stored in variable ex 3,"ram"

# INTEGER DT LITERALS :
a = 0b101010 # binary(0b show val in binary) literals
b = 100 # decimal literals
c = 0o310 # octal literals(0o show octal repsentation)
d = 0x12c # hexadecimal literals (ox for hex)
print(a,b,c,d)

# FLOAT LITERALS :
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.6e-5 # 1.6 * 10^-3
print(float_1,float_2,float_3)

# COMPLEX LITERALS :
x = 3.14j
y = 3+64j
print(x,x.imag,x.real)
print(y,y.imag,y.real)

# STRING LITERALS
str1 = 'this is string 1'
str2 = "this is string 2"
# for multiline string
str3 = '''this is string 3'''
str4 = """this is string 4"""
print(str1,str2,str3,str4)
# unicode str : represents the emoji's
unicode = u"\U0001f600\U0001F606\U0001F923"
print(unicode)
# raw str : print \n \t
raw_str = r"raw \n string"
print(raw_str)

42 100 200 300
10.5 150.0 1.6e-05
3.14j 3.14 0.0
(3+64j) 64.0 3.0
this is string 1 this is string 2 this is string 3 this is string 4
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
# Boolean literals (True -> 1 / False -> 0)
a= True + 4
b = False + 10
print(a,b)

5 10

In [ ]:
# None literal : use initialasation / or absence of values
num = None
print(num)

None

## DOUBTS :
1. typecasting(permanent change) vs type conversion
2. unicode can store image
3.