<a href="https://colab.research.google.com/github/Abskrdev20/Python-DataSci_CodeDump/blob/main/Week_0/L02_if_else_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## OPERTORS IN PYTHON :

- ARITHEMETIC OPERATORS :-

In [ ]:
# Arithematic operators
a = int(input('enter a :'))
b = int(input('enter b :'))
print(a+b) # addition
print(a-b) # subtract
print(a*b) # multiply
print(a/b) # division
print(a//b) # integer division
print(a**b) # power of operator
print(a%b) # remainder

enter a :23
enter b :20
43
3
460
1.15
1
1716155831334586342923895201
3

- RELATIONAL OPERATORS

In [ ]:
# relational operators : returns the boolean value
a = int(input('enter a :'))
b = int(input('enter b :'))
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a=5=b)
print(a!=b)

enter a :23
enter b :3
True
False
False
True
False
True

- LOGICAL OPERATORS

In [ ]:
print(1 and 0)
print(0 or 1)
print(not 1)

0
1
False

- BITWISE OPERATORS

In [ ]:
# special operators works on binary representation
print(2 & 4) # and
print(3 | 5) # or
print(2 ^ 4) #xor
# funda (same : 0 ,diff : 1 )
print(~3) # not : negative of nos in bit pattern
print(4>>2) # left shift
print(4<<2) # right shift

0
7
6
-4
1
16

- ASSIGNMENT OPERATORS

In [ ]:
# assignment operators
a = 2
print(a)
a += 2
print(a)
a -= 2
print(a)
a *= 2
print(a)
a %= 2
print(a)
# a++ / ++a and a-- not allowed in python

2
4
2
4
0

- MEMBERSHIP OPERATOR

In [ ]:
# membership operators
# in / not in
print('g' in 'gurugram')
print('d' not in 'dehradun')
print(1 in [1,2,3])

True
False
True

## IF-ELSE IN PYTHON :

In [ ]:
# simple login program
# email -> "ak@gmail.com"
# password -> 1234
email = input("Enter e-mail :")
passwd = input("Enter password :")
if email == "ak@gmail.com" and passwd == "1234" :
  print("WELCOME TO THE PROFILE")
else :
  print("Invalid Creditionals , Please re-enter the creditionals")

Enter e-mail :ak@gmail.com
Enter password :1234
WELCOME TO THE PROFILE

In [ ]:
# if elseif else
# email -> "ak@gmail.com"
# password -> 1234
email = input("Enter e-mail :")
passwd = input("Enter password :")
if email == "ak@gmail.com" and passwd == "1234" :
  print("WELCOME TO THE PROFILE")
elif email == "ak@gmail.com" and passwd != "1234" :
  print("Please re-enter the password again")
  passwd = input("enter password again")
  # nested if else
  if passwd ==  "1234":
    print("welcome , finally")
  else : print("Invalid password")
else :
  print("Invalid Creditionals")

Enter e-mail :ak@gmail.com
Enter password :4543
Please re-enter the password again
enter password again3436
Invalid password

In [ ]:
# input 3 nos from the user and prints the minimum of the numbers out of these
num1 = int(input("First no 1:"))
num2 = int(input("First no 2:"))
num3 = int(input("First no 3:"))
if (num1 < num2 and num1 < num3) :
  print("Smallest no is",num1)
elif (num2<num3) :
  print("Smallest no is",num2)
else :
  print("Smallest no is", num3)

First no 1:64
First no 2:34
First no 3:64
Smallest no is 34

In [ ]:
# create a menu driven program -> calculator
num1 =int(input("enter the 1st no :"))
num2 =int(input("enter the 2nd no :"))
print("**** Calculator *******")
print("1. Addition")
print("2. subtraction")
print("3. multiplication")
print("4. Division")
choice = int(input("Enter your choice (1/2/3/4) : "))
if (choice == 1) : print("Addition of nos is : ", num1+num2)
elif (choice == 2) : print("Subtraction of nos is : ", num1-num2)
elif (choice == 3) : print("Multiplition of nos is : ", num1*num2)
else : print("Division of nos is : ",num1/num2)

enter the 1st no :23
enter the 2nd no :53
**** Calculator *******
1. Addition
2. subtraction
3. multiplication
4. Division
Enter your choice (1/2/3/4) : 1
Addition of nos is :  76

## MODULES IN PYTHON :
 - math
 - keywords
 - datetime
 - random

In [ ]:
# math module
import math
print(math.floor(4.6))
print(math.ceil(5.43))
print(math.sqrt(4))
print(math.cbrt(8))
print(math.factorial(5))

4
6
2.0
2.0
120

In [ ]:
# keyword module
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random module
import random
print(random.randint(1,100))

31

In [ ]:
# date and time module
import datetime
print(datetime.datetime.now())

2025-07-01 11:53:14.242849

## LOOPING IN PYTHON
 - For loop
 - while loop

In [ ]:
# while loop
num = int(input("enter your number :"))
i = 1
while(i<11) :
  print(num * i)
  i += 1

enter your number :10
10
20
30
40
50
60
70
80
90

In [ ]:
# guessing game
import random
jnum = random.randint(1,100)
i = 1
while (i<=3) :
  unum = int(input("User enter a guessed no : "))
  if (unum < jnum):
    print("Guessed a smaller no than jackport no")
  elif (unum > jnum):
    print("Guessed a larger no than jackport no")
  else :
    print("You Win : Correctly , Guess the Jackport No")
  i += 1

else : print("You Lose!! the game")

User enter a guessed no : 23
Guessed a larger no than jackport no
User enter a guessed no : 10
Guessed a larger no than jackport no
User enter a guessed no : 5
Guessed a larger no than jackport no
You Lose!! the game

In [ ]:
# for loop : can iterate not only the nos but other datatypes too
# print the numbers from 1 to 11 // 11 is excluded
# syntax : range (start incl , end excl , step size to jump)
for i in range(1,11,2) :
  print(i)

1
3
5
7
9

In [ ]:
# ulte nos
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in "delhi" :
  print(i)
print("---------")
for i in [1,3,5] :
  print(i)

d
e
l
h
i
---------
1
3
5

In [4]:
# progaram for current pop is 10,000 rate : 10% print population in last 10 years
curr_pop = 10000
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Sequence sum
- ex : 1/1! + 1/2! + 3/3!

In [7]:
n = int(input("Enter the no of terms :"))
res = 0
fact = 1
for i in range(1,n+1) :
  fact = fact*i
  res = res + i/fact
print("Result is :",res)

Enter the no of terms :4
Result is : 2.6666666666666665

## Nested Loops in Python 🐍

In [16]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****

In [17]:
for i in range (1,5):
  for j in range (1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

## JUMP STATEMENTS / loop control statements
- continue
- break
- pass

In [18]:
# Break : exits the loop directly
for i in range(1,10):
  if (i == 5):
    print("we got lucky no")
    break
  print(i)

1
2
3
4
we got lucky no

In [22]:
# Prog for the printing the prime nos from range of nos given
low_r = int(input("Enter the lower range :"))
upper_r = int(input("Enter the upper range :"))
for i in range (low_r,upper_r+1):
  for j in range(2,i):
    if (i%j == 0): break
  else : print(i)

Enter the lower range :23
Enter the upper range :64
23
29
31
37
41
43
47
53
59
61

In [24]:
# Continue : skip current execution and move on to the next iteration cycle
for i in range(1,11):
  if (i==8):
    # print("Skips the 8 no")
    continue
  print(i)

1
2
3
4
5
6
7
9
10

In [ ]:
 # Real appln : FILTER OUT OF STOCK GOODS
 # not show the out of stock products from the list of given products available

In [26]:
# pass : mechanism to save from the error (show absence of statments)
for i in range(1,6):
  print(i)
  if (i==3):
    pass #do nothing just pass

1
2
3
hacker mode
4
5