<a href="https://colab.research.google.com/github/Abskrdev20/Python-DataSci_CodeDump/blob/main/Week_0/L03_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings in Python
- Defn : they are basically collection of unicode characters
- Unicode char vs ascii char
  - ascii : 8bit(256)
  - unicode : 16bit(2^16),emojis included

 - Topics to cover :
  - create
  - access
  - add char
  - edit string
  - deleting string
  - editing string
  - deleting string
  - operation
  - string functions

In [ ]:
# string creation
str1 = 'hello'
str2 = "python-learners"
# single double to remove the confusion in situation as
# s1 = 'it's raining today'
# s2 = "mohit said :"this is my book" "

str3 = '''welcome to data science journey'''
str4 =""" this is also valid"""
# for multiline strings like blogs and articles

print(str1,str2,str3,str4)
# raw strings : advance

hello python-learners welcome to data science journey  this is also valid

In [ ]:
# ACCESSING : Indexing in strings
s = "hello world"
# POSITIVE INDEXING
print(s[0],s[4])
# NEGATIVE INDEXING
print(s[-1],s[-9])

h o
d l

In [ ]:
# ACCESSING SUBSTRING : Slicing concept
s = "welcome the new learners"
print(s[0:15])
print(s[8:9])
print(s[:7])
print(s[0:6:2]) # with step size
print(s[6:0:-1]) # with step size negative
print(s[::-1]) # reverse the string
# TIP : generally in python the 2nd value is excluded

welcome the new
t
welcome
wlo
emocle
srenrael wen eht emoclew

In [ ]:
# accessing substring using negative indexing
print(s[-5:])
print(s[-1:-9:-1])
# note : in negative indexing the first nos should be greater than 2nd one

rners
srenrael

In [ ]:
# EDITING AND DELETION IN STRINGS
# EDITING : NHI HOTA H
str2 = 'data structures'
#s[0] = 'D'
# python string are immutable(mutate change => virus change)
print(str2)

# DELETION : PURA HOTA H NOT PARTIALLY
del str2
# print(str2)
# dont work as the string is deleted by the delete operator

data structures

# OPERATIONS ON STRINGS
1. arithmetic
2. relational
3. logical
4. loops
5. membership

In [ ]:
# arithmetic
# addition : concatination
print("delhi"+" "+"coders")
# multiplication : replication
print("hello!!"*10)

delhi coders
hello!!hello!!hello!!hello!!hello!!hello!!hello!!hello!!hello!!hello!!

In [ ]:
# relational : all works checks the string acc to the ascii values chart
# (lexiographically comparision)
print("delhi" == "mumbai")
print("delhi" <= "mumbai")
print("delhi" >= "mumbai")
print("delhi" != "mumbai")
print("delhi" < "mumbai")

False
True
False
True
True

In [ ]:
# logical
print ('hello' and 'world')
# concept "string" consider as true in and "world" is true so ans is "world"
print ('hello' or 'world')
# see first true ie "hello" so prints not check the 2nd
print(not "hello")

world
hello
False

In [ ]:
# LOOPING : str are iterable
str = "rituraj"
for i in str:
  print(i)
print("*"*10)
for i in "delhi":
  print("pune")

r
i
t
u
r
a
j
**********
pune
pune
pune
pune
pune

In [ ]:
# MEMBERSHIP OPERATORS : in / not in
print("d" in "dehradun")
print("d" not in "dehradun")
print("d" in "Delhi")

True
False
False

## STRING COMMON FUNCTIONS :
-  len
-  max
-  min
- *sorted*

In [ ]:
# len : length
len("hello world")

11

In [ ]:
#max : maximum character based on ASCII
max("hello hello")

'o'

In [ ]:
#min : minimum character based on ASCII
min("hello hello")

' '

In [ ]:
# sorted : sort the string retun the list asc order
sorted("Hello ji")
sorted("hello ji ",reverse=True)

['o', 'l', 'l', 'j', 'i', 'h', 'e', ' ', ' ']

## String SPECIFIC functions

In [ ]:
# capitalise / title / upper / lower
s="abhishek kumar"
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())
print(s.title())
print(s.swapcase())

Abhishek kumar
Abhishek Kumar
ABHISHEK KUMAR
abhishek kumar
Abhishek Kumar
ABHISHEK KUMAR

In [ ]:
# count / find / index
print("this is abhishek repo".count("i"))
print("this is abhishek repo".find("is"))
print("this is abhishek repo".find("z"))
# if not available gives -1
print("this is abhishek repo".index("is"))
# print("this is abhishek repo".index("x"))
# index function same as the find function but throws an error if not found

3
2
-1
2

In [ ]:
# ends with / starts with : retun boolean value ends with or start with given string
print("my name is rohtash".endswith('sh'))
print("my name is rohtash".startswith('my'))
print("my name is rohtash".startswith("na"))

True
True
False

In [1]:
# format : basically as back ticks in js `` for injecting the variable in string
name = "ritu rathi"
gender = "female"
print("OOPS teacher is a {} having name {}".format(gender,name))

OOPS teacher is a female having name ritu rathi

In [7]:
# isalpha / isnum / isalnum / isdigit / isidentifier
print("c".isalpha())
print("c23".isalnum())
print("c".isdigit())
print("34".isdigit())
print("34".isnumeric())
print("01_lect".isidentifier())
print("lect_01".isidentifier())

True
True
False
True
True
False
True

In [9]:
# ( VIP ) split : breaks the string into substrings of list return
# syntax : "str".split("sep_str")
sentence = "this is a new python repository"
print(sentence.split())
# by default : space
print(sentence.split('i'))
# custom : breaks at a part custom passed string

['this', 'is', 'a', 'new', 'python', 'repository']
['th', 's ', 's a new python repos', 'tory']

In [12]:
# (VIP) join : reverse of the split
# syntax : "sep_str".join([pass a list of strings])
print(' '.join(['this', 'is', 'a', 'new', 'python', 'repository']))
print('@'.join(['this', 'is', 'a', 'new', 'python', 'repository']))

this is a new python repository
this@is@a@new@python@repository

In [13]:
# replace : changes the part of string to new substring in place of it
# syntax : str.replace(old_str,new_str)
'this is a new python repository'.replace('this is','welcome to')

'welcome to a new python repository'

In [16]:
# (SIP) strip : removes the trailing spaces
name = 'geetansh                 '
name.strip()

'hno 634 sector a9 block c2 rajori garden'